<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OPM : All Chapters</title>

    <link rel="stylesheet" href="css/site.css" />
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet" />
    <script type='text/javascript' src="{{ url_for('static', path='/js/jquery-3.7.1.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Total Chapters : {{ total }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <ul class="list-group">
            {% for chapter in chapters %}
            <li class="list-group-item">
              <a href="{{ chapter.chapter }}">
                One Punch Man : Chapter {{ chapter.cnum }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
